
<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>


</head>
<body>
    <select id="dptCountry" class="form-control"></select>

    <select id="dptDistrict" class="form-control"><option value="">Select District</option></select>

    <select id="dptThana" class="form-control"><option value="">Select Thana</option></select>

    <select id="dptReligion" class="form-control"></select>

    <select id="dptGender" class="form-control"></select>

    <select id="dptBloodGroup" class="form-control"></select>


    <script src="~/Scripts/BloodAppScripts/DropDownLoadScripts.js"></script>


</body>
</html>
